body {
	background-color: #BADFCD;
	width: 960px;
	margin: 0 auto;
	min-height: 100%;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

p{
		margin-top: 0px;
		font-weight: bold;
		padding-left: 12px;
}

img{
		float: left;
		padding-left: 8px;
		padding-top: 1px;
}

a{
	text-decoration: none;
}

h2{
	margin-bottom: 1px;
	margin-top: 6px;
}

.subTitle{
	color: #555;
	padding-left: 0px;
	font-size: 15px;
}

.memberList{
	background-color: #F9F9F9;
}

.memListHeader{
	position: relative;
	background: white;
	width: 102%;
	padding-left: 12px;
	margin-left: -17px;
	border: 1px solid #CCC;
	margin-bottom: 0px;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

.memlistHeaderShadow{
	width: 0;
	height: 0;
	border-top: 0;
	border-bottom: 12px solid transparent;
	margin-left: -16px;
	border-right: 16px solid #CCC;
}

.memberCard{
	border: 1px solid #CCC;
	width: 464px;
	height: 94px;
	margin-bottom: 12px;
	display: inline-block;
	margin-right: 3px;
	-moz-box-shadow: 4px 5px 7px 0px #ccc;
	-webkit-box-shadow: 4px 5px 7px 0px #ccc;
	-o-box-shadow: 4px 5px 7px 0px #ccc;
	-ms-box-shadow: 4px 5px 7px 0px #ccc;
	box-shadow: 4px 5px 7px 0px #ccc;
}

.memberCardInner{
	padding-top: 5px;
}

.memberListContainer{
	list-style: none;
	vertical-align: top;
	padding-left: 12px;
	clear: both;
}

.removeBttn{
	float: right;
	background-color:#FBE1E3;
	display: none;
	text-align: right;
	font-weight: bold;
	padding: 5px;
}

.removeBttn:hover{
	cursor: pointer;
}

.undoBttn{
	float: right;
	text-align: right;
	font-weight: bold;
	padding: 0px 3px 0px 3px;
	margin-right: 4px;
}

.undoBttn:hover{
	cursor: pointer;
	background-color:#FBE1E3;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
}

.removedListBox{
	display: none;
	font-size: 12px;
	float: right;
	top: 71px;
	left: 976px;
	width: 150px;
	position: absolute;
	background-color: #F9F9F9;
	border-left: 1px solid #BADFCD;
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	-o-border-radius: 0px 4px 4px 0px;
	-ms-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
	-moz-box-shadow: 4px 5px 7px 0px #8FBBB6;
	-webkit-box-shadow: 4px 5px 7px 0px #8FBBB6;
	-o-box-shadow: 4px 5px 7px 0px #8FBBB6;
	-ms-box-shadow: 4px 5px 7px 0px #8FBBB6;
	box-shadow: 4px 5px 7px 0px #8FBBB6;
}

.removedListHeader{
	border-bottom: 1px solid #BADFCD;
	padding: 3px 6px 3px 6px;
	margin-top: 0px;
	font-size: 12px;
	text-align: left;
}

.removedListBox p{
	padding: 0px;
	margin: 0px;
	text-align: left;
}

.removedList{
	padding-left: 10px;
	list-style: none;
}

#undoWarn{

}

.memName{
	font-size: 12px;
	padding-left: 97px;
	margin-bottom: 0px;
}

.orgTitle{
	padding-left: 97px;
	font-size: 11px;
	font-weight: bold;
	color: #999;
}

.memBio{
	font-size: 10px;
	padding-left: 97px;
	padding-top: 2px;
	width: 75%;
}

.memBioHeader{
	display: inline;
	padding-left: 8px;
}