/* clearing out and setting new default styles */
body,html { margin:0; padding: 0; width: 100%; height:100%; }
body,h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,legend,
input,button,select,textarea,dl,dd,dt,hr,table,thead,tbody,tfoot,tr,th,td
{ margin:0; padding:0 }
img,a img,:link img,:visited img { border:0;padding:0;margin:0; }
address,cite,caption { font-style: normal }
caption,th { text-align: left }
ol,ul { margin:0; }
a,button { outline: 0; }

/* HTML5 for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* custom scroll bar for webkit (Chrome, Safari/iphone/ipad) too bad for Moz, MS and O */
::-webkit-scrollbar {
    width: 11px;
    height: 4px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 0;
    display: block;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(101, 166, 209, 0.6);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: #777;
    -webkit-border-radius: 6px;
}

/* now make it our own */
body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	background: whitesmoke;
	overflow-x: hidden;
	overflow-y: auto;
}

a {
	text-decoration: none;
	color: #4AA8FF;
}

a:hover{
	color: #2094FF;
}

.hide{
	display: none;
}

#headerWrapper{
	z-index: 5;
}

#header{
	margin: 0 auto;
	background: url(../img/mastHead.png) no-repeat;
	height: 300px;
	width: 100%;
	background-position: -455px -150px;
	/*border-bottom: 5px solid #444;*/
	border-bottom: 3px solid #03426A;
	border-top: 3px solid #03426A;
}

#header a{
	background: url(../img/DnaBannerFinal.png) no-repeat 5px 5px;
	text-indent: -9999px;
	border: 0;
	font-size: 1px;
	height: 200px;
	width: 350px;
	display: block;
	margin: 0 20%;
	position: relative;
	top: 27px;
	border-radius: 10px;
	padding: 5px;
}

#header span{
	margin: 0 20%;
	padding-left: 3px;
	width: 363px;
	display: block;
	margin-top: 10px;
	font-size: 22px;
	text-shadow: 1px 1px 3px #666;
}

nav.buttonsNav{
	width: 72px;
	height: 200px;
	background: url(../img/bg.jpg);
	background-color: #fff;
	display: block;
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 1000;
	-moz-opacity: 0.85;
	-o-opacity: 0.85;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; /* ltie9 */
	filter: alpha(opacity=85); /* ltie8 */
	opacity: 0.85;
	-moz-border-bottom-right-radius: 30px;
	-moz-border-top-right-radius: 30px;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-o-border-bottom-right-radius: 30px;
	-o-border-top-right-radius: 30px;
	-ms-border-bottom-right-radius: 30px;
	-ms-border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
}

nav.buttonsNav.docked{
	-moz-transform: scale(-1,1);
	-webkit-transform: scale(-1,1);
	-o-transform: scale(-1,1);
	-ms-transform: scale(-1,1);
	transform: scale(-1,1);
	top: 45px;
}

nav.buttonsNav.docked ul{
	-moz-transform: scale(-1,1);
	-webkit-transform: scale(-1,1);
	-o-transform: scale(-1,1);
	-ms-transform: scale(-1,1);
	transform: scale(-1,1);
	margin-right: 15px;
	margin-left: 0;
}

nav.buttonsNav ul{
	margin-left: 19px;
	margin-top: 15px;
}

nav li{
	list-style: none;
}

#mainNavSection.docked{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999;
	border-bottom: 1px solid #777;
	border-top: 1px solid #777;
}

nav.mainNavWrapper{
	height: 40px;
	position: relative;	
}

nav.mainNavWrapper li{
	display: inline-block;
	width: 60px;
	height: 100%;
	font-weight: bold;
	background: #fff;
	text-shadow: 2px 1px 2px #BBB;
}

nav.mainNavWrapper li:nth-child(odd){
	background: #65A6D1;
	text-shadow: 1px 1px 0px #045485;
}

nav.mainNavWrapper li:nth-child(odd):hover{
	background: #03426A;
}

.navButtonWrapper:hover{
	cursor: pointer;
	background: #3E97D1;
	opacity: 1;
}

nav.mainNavWrapper ul{
	height: 40px;
	margin-left: 0;
	opacity: 0.65;
	z-index: -1;
	position: relative;
	white-space: nowrap;
}

.navButton{
	margin: 0 auto;
	width: 30%;
	height: 100%;
	line-height: 35px;
}

nav.mainNavWrapper ul.up,
nav.mainNavWrapper .navButtonWrapper .navButton.up
{
	z-index: -1;
	-moz-transform:translateY(-40px);
	-ms-transform:translateY(-40px);
	-0-transform:translateY(-40px);
	-webkit-transform:translateY(-40px);
	transform:translateY(-40px);
}

.navSlider {
	height: 40px;
	position: absolute;
	background: #000974;
	top: 0;
	left: 0;
	z-index: 4;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* ltie9 */
	filter: alpha(opacity=50); /* ltie8 */
	opacity: .5;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.slideItem{
	width: 100%;
}

li.slideItemWrapper{
	list-style: none;
	position: absolute;
	background: url(../img/BGTexture.jpg);
	z-index: 1;
}

li.slideItemWrapper:nth-child(even){
	/*border-top: 5px solid #03426A;*/
	border-top: 3px solid #03426A;
}

li.slideItemWrapper:nth-child(odd){
	/*border-top: 5px solid #65A6D1;*/
	border-top: 3px solid #03426A;
}

.slideItem h1{
	text-align: center;
	font-size: 42px;
	color: #777;
	text-shadow: 4px 4px 6px #CCC;
	height: 100%;
	margin-top: 70px;
}

#pageSlideSection{
	width: 100%;
	height: 100%;
}

#pageSlideWrapper{
	position: relative;
	width: 100%;
	height: 100%;
}

#pageSlide{
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.buttons {
}

.buttons a {
	margin-bottom: 20px;
	width: 40px;
	height: 40px;
	display: inline-block;
	position: relative;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: linear-gradient(top, #f6f6f6, #eaeaea);
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.buttons a:active {
	top: 1px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
	background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}

.buttons a::before{
	content: '';
	position: absolute;
	z-index: -1;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	background-color: #B1B1B1;
	-moz-border-radius: 140px;
	-webkit-border-radius: 140px;
	-o-border-radius: 140px;
	-ms-border-radius: 140px;
	border-radius: 140px;
	opacity: 0.5;		
}

.buttons a:active::before {
	top: -9px;
}

.buttons a:hover::before { opacity: 1; }

.buttons a.twitter:hover::before {
	background-color: #c6f0f8;
}

.buttons a.facebook:hover::before {
	background-color: #dae1f0;
}

.buttons a.tumblr:hover::before {
	background-color: #9BB7D3;
}

.twitter img { 
	top: 6px;
	left: 3px;
 }

.facebook img { 
	top: 3px;
	left: 11px;
}

.tumblr img {
	top: 2px;
	left: 8px;
}

.buttons a img { 
	position: absolute;
	border: 0;
}

/* PayPal Button */

/* morph */

.button {

/* text */
	text-decoration: 		none;
	font: 					24px/1em 'Droid Sans', sans-serif;
	font-weight: 			bold;
	text-shadow: 			rgba(255,255,255,.5) 0 1px 0;
	-webkit-user-select: 	none;
	-moz-user-select: 		none;
	user-select: 			none;
	
	
/* layout */
	padding: 				.5em .6em .4em .6em;
	margin: 				.5em;
	display: 				inline-block;
	position: 				relative;
	
	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
	border-radius: 	8px;
	
/* effects */
	border-top: 		1px solid rgba(255,255,255,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	
	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(../img/noise.png);
	background-image: 	-moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%), url(../img/noise.png);
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(../img/noise.png);

	-webkit-transition: background .2s ease-in-out;
	-moz-transition: 	background .2s ease-in-out;
	transition: 		background .2s ease-in-out;
	
/* color */
	color: 				hsl(0, 0%, 40%) !important;
	background-color: 	hsl(0, 0%, 75%);
	
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}

/* -------------- button (tag) -------------- */

button.button {
	border-left: none;
	border-right: none;
}
button.button:hover {
	cursor: pointer;
}

.button:before {
	font: 			1.2em/0 sans-serif;
	content: 		attr(data-icon); /* gets the icon value from the custom data attribute and puts it infront of the button label */
	margin-right: 6px;
}

/* -------------- States -------------- */

.button:hover {
	background-color: 	hsl(0, 0%, 83%);
}

.button:active {
	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(noise.png);
	background-image: 	-moz-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(noise.png);
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(noise.png);

	-webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	box-shadow: 		inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */

	-webkit-transform: 	translateY(.2em);
	-moz-transform: 	translateY(.2em);
	transform: 			translateY(.2em);
}

.button:focus {
	outline: none;
	color: rgba(254,255,255,0.9) !important;
	text-shadow: rgba(0,0,0,0.2) 0 1px 2px;
}

.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover {
	opacity: 			.5;
	cursor: 			default;
	color: 				rgba(0,0,0,0.2) !important;
	text-shadow: 		none !important;
	background-color: 	rgba(0,0,0,0.05);
	background-image: 	none;
	border-top: 		none;

	-webkit-box-shadow: inset rgba(255,254,255,0.4) 0 0.3em .3em, inset rgba(0,0,0,0.1) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.3) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.4) 0 0.3em .3em, inset rgba(0,0,0,0.1) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.3) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	box-shadow: 		inset rgba(255,254,255,0.4) 0 0.3em .3em, inset rgba(0,0,0,0.1) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.3) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */

	-webkit-transform: 	translateY(5px);
	-moz-transform: 	translateY(5px);
	transform: 			translateY(5px);
}

.morph {
	border-top: none;
	-webkit-border-radius: 	5em / 2em;
	-moz-border-radius: 	5em / 2em;
	border-radius: 			5em / 2em;
	-webkit-transition: 	-webkit-border-radius .3s ease-in-out;
	-moz-transition: 		-moz-border-radius .3s ease-in-out;
	transition: 			-moz-border-radius .3s ease-in-out;
}
.morph:hover { 
	-webkit-border-radius: 	.4em .4em 2em 2em / .4em .4em 3em 3em;
	-moz-border-radius: 	.4em .4em 2em 2em / .4em .4em 3em 3em;
	border-radius: 			.4em .4em 2em 2em / .4em .4em 3em 3em;
}
.morph:active { 
	-webkit-border-radius: 	.3em;
	-moz-border-radius: 	.3em;
	border-radius: 			.3em;
}
.morph:after { 
	display: none;
}





.slideNav{
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-0-transform:translateY(0px);
	-webkit-transform:translateY(0px);
	transform:translateY(0px);
}

ul.slideNav{
	transition: all 1.5s;
	-moz-transition: all 1.5s;
	-ms-transition: all 1.5s;
	-webkit-transition: all 1.5s;
	-o-transition: all 1.5s;
}

.tumblrPostWrapper{
	width: 50%;
	margin: 0 auto;
	position: relative;
}

.tumblrPostWrapper h1{
	font-size: 42px;
	color: #333;
	letter-spacing: -1px;
}

.tumblrPostWrapper p {
	color: #777;
	margin-bottom: 20px;
}

.tumblrPostWrapper p.tumblrPostDate{
	font-size: 12px;
}

.tumblrPostBodyWrapper{
	margin-top: 125px;
}

.tumblrPostTags{
	color: rgb(170, 0, 0);
	font-size: 11px;
	font-style: italic;
}

.tumblrPostTags li {
	display: inline;
	margin-right: 5px;
	list-style: none;
}

.ribbon {
	top: -100px;
	width: 100%;
	position: absolute;
	text-align: center;
	font-size: 20px!important;
	background: #3e96d1;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e96d1), to(#03426a));
	background: -webkit-linear-gradient(top, #3e96d1, #03426a);
	background: -moz-linear-gradient(top, #3e96d1, #03426a);
	background: -ms-linear-gradient(top, #3e96d1, #03426a);
	background: -o-linear-gradient(top, #3e96d1, #03426a);
	background-image: -ms-linear-gradient(top, #3e96d1 0%, #03426a 100%);
	-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
	-moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
	box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
	font-family: 'Helvetica Neue',Helvetica, sans-serif;
}

.ribbon h1 {
	font-size: 28px!important;
	color: #e6e6e6;
	text-shadow: #11102e 0 1px 0;
	margin:0px;
	padding: 15px 10px;
}

.ribbon:before, .ribbon:after {
	content: '';
	position: absolute;
	display: block;
	bottom: -1em;
	border: 1.5em solid #045485;
	z-index: -1;
}

.ribbon:before {
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
	-webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
	-moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
	box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}

.ribbon:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
	-webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
	-moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
	box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	border-color: #002e4a transparent transparent transparent;
	position: absolute;
	display: block;
	border-style: solid;
	bottom: -1em;
	content: '';
}

.ribbon .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
}

.ribbon-stitches-top {
	margin-top:2px;
	border-top: 1px dashed rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

#flickPicHolder {
	margin: 0 auto;
	width: 98%;
	margin-top: 100px;
}

#flickPicHolder li {
	display: inline-block;
	margin: 5px;
}

#flickPicHolder .flickPic {
	max-width: 400px;
	box-shadow: 4px 5px 10px rgb(26, 23, 37);
}

.flickPic:hover {
	cursor: pointer;
	transform: scale(1.02, 1.02);
	-ms-transform: scale(1.02, 1.02); /* IE 9 */
	-webkit-transform: scale(1.02, 1.02); /* Safari and Chrome */
	-o-transform: scale(1.02, 1.02); /* Opera */
	-moz-transform: scale(1.02, 1.02); /* Firefox */
}

.flickMoreBtn {
	width: 190px;
	height: 50px;
	margin-bottom: 25px;
	margin: 25px auto;
	border-radius: 25px;
	padding: 0px;
	text-align: center;
	line-height: 50px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-shadow: 0px 1px 0px rgb(0, 35, 73);
	box-shadow: 0px 8px 0px rgb(0, 109, 160);
	background: rgb(101, 166, 209);
}

.flickMoreBtn:hover {
	cursor: pointer;
}

.flickMoreBtn:active {
	box-shadow: 0px 3px 0px rgb(0, 109, 160);
	margin-top: 30px;
}

.ribbon.flickRibbon {
	width: 90%;
	left: 5%;
	top: 10px;
}

.flickPicBoard {
	width: 87%;
	position: absolute;
	left: 6.5%;
	height: 100%;
	top: 10px;
	background: #03426A;
	box-shadow: 5px 0px 20px black;
	z-index: -1;
}

@media (max-width: 479px){

	nav.buttonsNav.docked{
		-moz-transform: scale(-.7, .7);
		-webkit-transform: scale(-.7, .7);
		-o-transform: scale(-.7, .7);
		-ms-transform: scale(-.7, .7);
		transform: scale(-.7, .7);
	}

	nav.buttonsNav.docked ul{
		top: 20px;
	}

	.navButton{
		width: 85%;
	}

	.slideItem{
		width: 100%;
	}

	.ribbon{
		width: 100%
	}

	.tumblrPostWrapper{
		width: 70%;
	}

	#header a{
		-ms-transform:scale(.7, .7); /* IE 9 */
		-moz-transform:scale(.7, .7); /* Firefox */
		-webkit-transform:scale(.7, .7); /* Safari and Chrome */
		-o-transform:scale(.7, .7); /* Opera */
		transform:scale(.7, .7);
		top: -15px;
		margin: 0 18%;
	}


	#header{
		height: 225px;
		background-position: -634px -95px;
	}

	#header span{
		top: 110px;
		position: absolute;
		font-size: 16px;
		padding-left: 32px;
	}

	nav.buttonsNav{
		-moz-transform: scale(.8, .8);
		-webkit-transform: scale(.8, .8);
		-0-transform: scale(.8, .8);
		-ms-transform: scale(.8, .8);
		transform: scale(.8, .8);
		left: -7px;
		top: -5px;
	}

	nav.mainNavWrapper li{
		font-size: 14px;
	}
}